.frame{
  background-color: grey;
  text-align: center;
  font-size: 20px;
  font-family: "courier";
  width: 300px;
  height: 430px;
  margin: auto;
  margin-top: 2%;
}
.screen {
  width: 260px;
  height: 30px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  text-align: right;
  font-family: 'Segment14Regular'; 
}

.row{
  margin-left: 20px;
  margin-right: 20px;
}
.grid{
  margin: auto;
  margin-top: 20px;
}
button{
  height: 60px;
}